.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.flashes{
    background-color: #eed97d;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: fit-content;
    position: relative;
    left: 50%;
    animation: pop-in-out 0.5s ease-in-out;
}

@keyframes pop-in-out {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

img{
    position: relative;
    margin-right: auto;
}

.logo{
  max-width: 100%;
  height: auto;
}

.display{
    background-color: #dfc23f;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.about{
    text-align: center;
    width: 80%;
    height: auto;
}

.block{
    text-align: center;
    width: 100%;
    height: auto;
}
.features{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    text-align: center;
}

.features h2{
    height: 20%;
}
.features h3{
    font-size:20px;
    font-weight: 800;

}

.manage{
width: 20%;
margin: 10px;
background-color: #DFC13F;
}

.manage p{
    width: 80%;
    position: relative;
    left: 11%;
    font-size: 12px;
}
.hakiba{
    width: 20%;
    margin: 10px;
    background-color: #DFC13F;
}

.hakiba p{
    width: 80%;
    
    position: relative;
    left: 11%;
    font-size: 12px;
}

.contacts{
    background-color: black;
    padding: 10px;
    color: #DFC13F;
}
.contacts h2{
    text-align: center;
}

nav{
    height: auto;
}

nav ul{
    list-style-type: none;
    padding: 0.5rem;
    text-align: right;
    font-size: 1em;
}

li{
    display: inline-block;
    margin-inline: 0.5rem;
}

li a{
    color: rgb(54, 7, 7);
    text-decoration: none;
}

li a:hover, li a:focus {
    text-decoration: underline;
    color: #DFC13F;
}



/* colors #DFC13F #A95534 */