option_settings:
    aws:elasticbeanstalk:application:environment:
        FLASK_APP: mykeja
    aws:elasticbeanstalk:container:python:
        WSGIPath: mykeja.wsgi:application
    aws:elasticbeanstalk:container:python:staticfiles:
        /mykeja.py
        frontend/templates/*.html
        frontend/static
        frontend/*.py