<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='display.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='mykejaweb_50px.png') }}">
</head>
<header>
    <h1>MyKeja</h1>
    <img src="{{ url_for('static', filename='mykejaweb_logo.png') }}" alt="">
    <nav>
        <ul>
            <li>
                <a id="signup" href="signup">signup</a>
            </li>
            <li>
                <a id="login" href="login">login</a>
            </li>
        </ul>
    </nav>

    <!-- Jenga message display. -->

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    
</header>
<body>

    <article>
        <h2>about</h2>
        <p>MyKeja is a web app that unifies the landlord, caretaker -if any- and the tenants. this is archived through a well crafted database that stores information about the clients and is easily accessible to the parties involved.</p>
    </article>
    <article>
        <h2>features</h2>
        <ul>
            <li>
                <h3>manage apartments</h3>
                <p>this is created for landlords who have more that one apartments they are managing. they will be able to create new apartments and add their tenants and caretakers</p>
            </li>
            <li>
                <h3>hakiba pay</h3>
                <p>
                    haba na haba hujaza kibaba. this is feature is designed to track payment information. especially in small amount. it will be accessible to all parties and will show payment progress. 
                </p>
            </li>
        </ul>
    </article>
</body>
</html>