<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/frontend/static/landlord.css">
</head>
<body>
    <div class="container_box">
        <div class="summary-container">
          <div class="summary">
            <h3>Apartment Summary</h3>
            <p>Building: {{ apartment_summary.building }}</p>
            <p>Tenants: {{ ", ".join(apartment_summary.tenants) }}</p>
            <p>Caretaker: {{ apartment_summary.caretaker }}</p>
          </div>
          <a href="{{ url_for('tenants') }}">
            <div class="add-button">Add</div>
          </a>
        </div>
    </div>
      <section class="container_box">
        <div class="summary-container">

        </div>
      </section>
</body>
</html>