<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <!-- <link rel="stylesheet" href="/flask/website/static/css/global.css">
    <link rel="stylesheet" href="/flask/website/static/css/display.css"> -->
</head>
    
<header>
    <!-- <nav>
        <ul>
            <li>
                <a id="home" href="home">home</a>
            </li>
            <li>
                <a id="signup" href="signup">signup</a>
            </li>
            <li>
                <a id="logout" href="logout">logout</a>
            </li>
        </ul>
    </nav> -->
</header>
<body>
    <h1 style="text-align:center;">login</h1>
    <section style="text-align: center;" >
        <legend>sign up</legend>
        <form action="post">
            <P>
                <LAbel for="email">email</LAbel>
                <input type="text" name ="email" id="email" placeholder="enter email">
            </P>
            <p>
                <label for="password1">password:</label>
                <input type="password" name="password1" id="password" placeholder="enter password"> 
            </p>

            <button type="submit">login</button>
        </form>
    </section>

</body>
</html>