<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <!-- <link rel="stylesheet" href="/flask/website/static/css/global.css">
    <link rel="stylesheet" href="/flask/website/static/css/display.css"> -->
</head>
    
<header>
    <!-- <nav>
        <ul>
            <li>
                <a id="home" href="home">home</a>
            </li>
            <li>
                <a id="signup" href="signup">signup</a>
            </li>
            <li>
                <a id="logout" href="logout">logout</a>
            </li>
        </ul>
    </nav> -->
</header>
<body>
    <h1 style="text-align: center">welcome</h1>
    <section style="text-align: center;" >
        <legend>sign up</legend>
        <form action="post">
            <p>
                <label for="firstName">firstName:</label>
                <input type="text" name="firstName" id="firstName" placeholder="first name" autocomplete="on" required>
            </p>
            <p>
                <label for="secondName">surname:</label>
                <input type="text" name="secondName" id="secondName" placeholder="secondname">
            </p>
            <P>
                <LAbel for="email">email</LAbel>
                <input type="text" name ="email" id="email" placeholder="enter email">
            </P>
            <p>
                <label for="password1">password:</label>
                <input type="password" name="password1" id="password" placeholder="enter password"> 
            </p>
            <p>
                <label for="password">confirm:</label>
                <input type="password" name="password" id="password" placeholder="confirm password"> 
            </p>

            <button type="submit">sign up</button>
        </form>
    </section>
</body>
</html>