<!DOCTYPE html>
<html>
    <head>
        <title>MyKeja</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    </head>
    <body>
        <h1>Welcome to MyKeja</h1>
        <h3>Tenants</h3>
	    <a href="/add_tenant">ADD</a>
	    <br>
        <table>
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>ID_No</th>
                <th>Phone</th>
            </thead>
            {% for data in tenants %}
            <tbody>
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.ID_No}}</td>
                <td>{{data.phone}}</td>
                <td><a href="/delete/{{data.id}}" type="button">DELETE</a></td>
            </tbody>
            {% endfor%}
        </table>
    </body>
</html>